@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url("../images/backgroundforest.jpg") no-repeat fixed left center;
  background-size: cover;
  font-family: Garamond;
  color: white;
}

header {
  background: Inherits;
  color: white;
  padding: 0%;
  text-align: center;
}

header h1 {
  /* margin-top: 0.3em; */
  background: Inherits;
  text-shadow:0 0 20px rgba(0,0,0, 1);
  padding: 3%;
  font-family: Garamond;
  font-size: 18vmin;
  transition: .5s;
}

header h1:hover {
  /* margin-top: 0.3em; */
  background: Inherits;
  text-shadow:0 0 20px rgba(255,255,255, 1);
  padding: 3%;
  font-family: Garamond;
  font-size: 18vmin;
  transition: .5s;
}

section.parent {
	width:100%;
	min-height:100vh;
	height: auto;
	display: flex;
  flex-flow: row wrap;
}

.parent a:link {  /* code from week 5 example */
	flex:1 100%;
	border:solid rgba(255,255,255, 0.5) 10px;
	font-family: Garamond;
	font-size: 4vmax;
	color:#fff;
	text-shadow:0 0 20px rgba(0,0,0, 1);
	display: flex;
	justify-content: center;
	align-items: center;
  transition: .5s;
}

.parent a:hover {
	flex:1 100%;
	border:solid rgba(255,255,255, 0.5) 10px;
	font-family: Garamond;
	font-size: 4vmax;
	color:#fff;
	text-shadow:0 0 20px rgba(255,255,255, 1);
	display: flex;
	justify-content: center;
	align-items: center;
  transition: .5s;
}

#one { /* code from week 5 example */
	background:url("../images/backgroundhorse.jpg") no-repeat center bottom;
	background-size: cover;
}

#two {
	background:url("../images/backgroundram.jpg") no-repeat center center;
	background-size: cover;
}

#three {
	background:url("../images/backgroundcrocodile.jpg") no-repeat center top;
	background-size: cover;
}

#four {
	background:url("../images/backgroundant.jpg") no-repeat center center;
	background-size: cover;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a.active {
  color: white;
}

a:link {
  color: white;
}

@media only screen and (min-width: 600px) { /* code from week 5 example */
	.parent a:link {
		flex:1 50%;
	}
}

@media only screen and (min-width: 980px) {
	.parent a:link {
		flex:1 auto;
	}
}
